* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
  font-family: sans-serif, monospace;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #ffe8f0;
  display: flex;
}
.left-content {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.img {
  background-image: url(Images/Ellipse\ 26.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.left-content .img .box-content{
  height: 100%;
  display: flex;
  padding-left: 5rem;
  padding-right: 15rem;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.left-content .box1 {
  width: 100%;
  color: white;
  font-size: medium;

}
.left-content .img .box-content .box1 button {
  margin-top: 1rem;
  padding: 5px;
  padding-inline: 2rem;
  border-radius: 1.5rem;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.left-content .box2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.left-content .box2 img {
  width: 100%;
}
.right-content{
  width: 50%;
  height: 100vh;
}
.right-content .container-1{
  height: 100vh;
  background-color: #ffe8f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-content .top-part{
  display: none;
}
.right-content .top-part .top-part-content h2{
width: 100%;
position: absolute;
color: white;
top: 1.5rem;
font-size: 2rem;
text-align: center;
padding-inline: 40px;
}
.right-content .top-part .top-part-content p{
  width: 100%;
  position: absolute;
  color: white;
  top: 7rem;
  font-size: 1rem;
  text-align: center;
  padding-inline: 40px;
  padding-top: 10px;
}
.right-content .top-part .top-part-content .btn{
  position: absolute;
  top:10rem ;
  left: 50%;
  padding-top: 1rem;
  transform: translate(-50%);
}
.right-content .top-part .top-part-content button{
  color: white;
  background-color: #e75480;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  padding-inline: 30px;
}
.right-content .top-part img{
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: none;
}
.right-content .box-1 {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-content .box-1 img {
  padding: 10px 0;
   width: 30%;
 }
 .right-content .box-2 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-content .box2-content label {
  padding-left: 10px;
  font-size: small;
}
.input-with-icon input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  outline: none;
  width: 310px;
  padding: 10px 35px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 15px;
  font-size:small;
  background-color: white;
}
.custom-checkbox{
  margin-left: 10px;
  display: flex;
}
.input-with-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.input-with-icon i {
  position: absolute;
  margin-left: 10px;
}

.input-with-icon i.fa-eye {
  position: absolute;
  right: 5px;
  cursor: pointer;
  margin-top: -5px;
  margin-right: 5px;
}
.input-with-icon i.fa-eye:hover {
  color: black;
}

/* Adjust icon size */
.input-with-icon i.fa-user,
i.fa-envelope,
i.fa-lock,
i.fa-eye {
  margin-top: -5px;
  font-size: 15px;
}

/* Adjust icon color */
.input-with-icon i.fa-user,
i.fa-envelope,
i.fa-lock,
i.fa-eye {
  color: #999;
}
.button {
  height: 90px;
  text-align: center;
  margin-top: 10px;
}
.button button {
  color: white;
  background-color: #e75480;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.horizontal-line {
  margin-top: 50px;
  text-align: center;
}
.social {
  padding-top: 20px;
  text-align: center;
}
.social img {
  width: 27px;
}

@media screen and (max-width: 768px) {
  .left-content {
    display: none;
  }
  .right-content {
    width: 100%;
    height: 100vh;
  }
  .right-content .top-part{
    display: block;
  }
  .box2-content {
    align-items: center;
  }
  .box-1 img {
    width: 30%;
  }
  .box-1 h1 {
    font-size: 1.2rem;
  }
  .box-2 {
    margin-top: 10px;
  }
  .horizontal-line {
    margin-top: 20px;
  }
  .horizontal-line img {
    width: 70%;
  }
  .right-content .top-part img{
    width: 100%;
    display: block;
  }
  .right-content .container-1{
    padding-block: 15px;
    height: auto;
    justify-content: initial;
  }

}
