* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
  font-family: sans-serif, monospace;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #ffe8f0;
  display: flex;
  overflow: hidden;
}
.left-content {
  width: 50%;
  height: 100%;
}
.img {
  background-image: url(Images/Ellipse\ 26.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.left-content .box1 {
  width: 35%;
  color: white;
  font-size: large;
  position: absolute;
  top: 4rem;
  left: 3rem;
}
.left-content .box1 button {
  margin-top: 2rem;
  padding: 10px;
  padding-right: 3.7rem;
  padding-left: 3.7rem;
  border-radius: 1.5rem;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.left-content .box2 {
  position: absolute;
  top: 22rem;
  left: 3rem;
}
.left-content .box2 img {
  width: 90%;
}
.left-content .box-content {
  display: flex;
  flex-direction: column;
  column-gap: 10rem;
}
.right-content{
  width: 50%;
  height: 100%;
  padding: 30px 0;
}
.right-content .box-1 {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-content .box-1 img {
  padding: 10px 0;
   width: 20%;
 }
 .right-content .box-2 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-content .box2-content label {
  padding-left: 10px;
  font-size: small;
}
.input-with-icon input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  outline: none;
  width: 310px;
  padding: 10px 35px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 15px;
  font-size:small;
  background-color: white;
}
.custom-checkbox{
  margin-left: 10px;
  display: flex;
}
.input-with-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.input-with-icon i {
  position: absolute;
  margin-left: 10px;
}

.input-with-icon i.fa-eye {
  position: absolute;
  right: 5px;
  cursor: pointer;
  margin-top: -5px;
  margin-right: 5px;
}
.input-with-icon i.fa-eye:hover {
  color: black;
}

/* Adjust icon size */
.input-with-icon i.fa-user,
i.fa-envelope,
i.fa-lock,
i.fa-eye {
  margin-top: -5px;
  font-size: 15px;
}

/* Adjust icon color */
.input-with-icon i.fa-user,
i.fa-envelope,
i.fa-lock,
i.fa-eye {
  color: #999;
}
.button {
  height: 90px;
  text-align: center;
  margin-top: 10px;
}
.button button {
  color: white;
  background-color: #e75480;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.horizontal-line {
  margin-top: 50px;
  text-align: center;
}
.social {
  padding-top: 20px;
  text-align: center;
}
.social img {
  width: 27px;
}

@media screen and (max-width: 768px) {
  .left-content {
    display: none;
  }
  .right-content {
    width: 100%;
    height: 100vh;
    font-size: 1.2rem;
  }
  .box2-content {
    align-items: center;
  }
  .box-1 img {
    margin-top: 1rem;
    width: 30%;
  }
  .box-1 h1 {
    font-size: 1.2rem;
  }
  .box-2 {
    margin-top: 10px;
  }
  .horizontal-line {
    margin-top: 20px;
  }
  .horizontal-line img {
    width: 70%;
  }

}
